<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Garden Cartesian plane</h1>
<canvas id="myCanvas" width="200" height="100" style="border:4px solid #aaaa00"></canvas>
<h1>Another plane</h1>
<script src="{% static 'garden_gui/../../static/js/garden.js' %}"></script>
</body>
</html>