{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/style.css' %}" />
    <meta charset="UTF-8">
    {% if title %}
        <title>BeyondVeggie - {{ title }}</title>
    {% else %}
        <title>BeyondVeggie</title>
    {% endif %}
</head>
<body>
<div class="container-fluid header">
    <span>beyondveggie - Drawdown your carbon emissions</span>
    <div class="btn-group btn-group-sm" role="group" aria-label="Header buttons">
        <button class="btn btn-primary">Knowledgebase</button>
        <button class="btn btn-primary">Garden</button>
        <button class="btn btn-primary">About</button>
        <button class="btn btn-primary">Log in</button>
    </div>
</div>
    <div class="container-fluid inter">
{#        <img src="{% static 'admin/img/garden.jpg' %}">#}
    </div>
<div class="container-fluid body">
    <div class="row" style="padding-top: 50px;">
        <div class="col-md-3">
            {% block leftcolumn %}{% endblock %}
        </div>
        <div class="col-md-6">
            {% block maincolumn %}{% endblock %}
        </div>
        <div class="col-md-3">
            {% block rightcolumn %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>